
.home-wrapper{
    display: grid;
    grid-template-columns: 5% 95%;
}
.home_wrapper_full{
    display: grid;
    grid-template-columns: 35% 65%;
}

    .border-gradient {
        border-radius: 20px;
        border-width: 1px;
        background-image: linear-gradient(100.4deg, #7741EE 5.5%, #FE65C4 99.7%);
        border: 2px solid transparent;
        box-shadow: 2px 1000px 1px #fff inset;
        background-origin: border-box;
    }

